@use '../loginButtons.module';

.gitHubLoginContainer {
  @extend .loginButtonContainer;
  background-color: #272d33;
  border: solid 1px #e5e5e5;
}

.icon {
  color: white;
}

.text {
  color: white;
}